<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.som.db.SaleMapper">
	<insert id="insertSale" parameterType="SaleVO">insert into t_sale values (num_sale.nextval,#{user_seq},#{cate_seq},#{sale_photo},#{sale_name},#{sale_price},#{sale_content},#{sale_account},#{sale_bank},#{sale_acc_holder},#{sale_check},sysdate,null)</insert>
</mapper>