@charset "UTF-8";

#returnPage{
	height: 2000px;
}

#returnTableDiv{
	position:relative;
	left: 300px;
	top: 100px;
}

#titleTr>th{
	padding: 20px;
	border-bottom: 1px;
	font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #444444;
}

.dataTr>td{
	padding: 10px;
	border-bottom: 1px solid rgb(194, 194, 194);
	text-align: center;
}

.r_num{
	width:100px;
}

#returnTable>.r_button{
  margin: 5px;
  outline: none;
   width: 130px;
  height: 30px;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: rgb(194, 194, 194);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

#returnTable>.r_button:hover{
	box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}

#r_head{
	position:relative;
	left:50px;
	top:50px;
}

.r_product{
	width: 300px;
}

.r_start, .r_ex_date{
	width: 150px;
}

.r_h_userseq, .r_h_rentalseq{
	display:none;
}