@charset "UTF-8";

#returnPage{
	height: 2000px;
}

#returnTableDiv{
	position:relative;
	left: 50px;
	top: 100px;
}

#titleTr>th{
	padding: 20px;
	border-bottom: 1px;
	font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #444444;
}

.dataTr>td{
	padding: 10px;
	border-bottom: 1px solid rgb(194, 194, 194);
	text-align: center;
}