@charset "UTF-8";
*{ /* google font : noto sans */ 
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none; 
	text-decoration: none;
	border-collapse: collapse; 
	margin: 0px; 
	padding: 0px; 
	color: #000; }

.footer{
	/* width: 1080px; */
	width: 100%;
	position: absolute;
	border-top: 1px solid #c4c4c4;
	color: #808080;
	font-size: 12px;
	padding: 20px;
	background-color: #2b2b2b;
}

.footerLink1{
	display: inline-block;	color: #808080;
}

.footerLink1 a{
	margin-right: 20px;
}

.footerLink1 a:visited{
	color: #808080;
}

.contour{
  border-top: 1px solid #808080;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px 0 20px 0;
}


.explanation span{
	display: inline-block; color: #808080;
}

footerLink2{
	display: inline-block; margin: 0 20px 10px 20px; }

.footerLink2 a{
	margin-right: 20px; color: #808080;
}

.footerLink2 a:visited{
	color: #808080;
}

.footerLink2 span{
	color: #808080; position: absolute; right: 0; margin-right: 20px;
}