@charset "UTF-8";
*{ /* google font : noto sans */ 
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none; 
	text-decoration: none;
	border-collapse: collapse; 
	margin: 0px; 
	padding: 0px; 
	color: #000; }
	
.wrap{ display: flex; justify-content: center; height: 100px; }

.wrap>div{ display: flex; position: relative; }

.navbar>a{ font-size: 36px; margin-left: 20px; }

.wrap .search_area{ position: absolute; top: 2%; list-style-type: none; }

.navmenu{ margin-left: auto; }

.navmenu #menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.navmenu #menu li{
    float: left;
    margin-left: 50px;
    line-height: 60px;
}

.navmenu #menu li a{
    color: #545454;
    font-size: 14px;
    text-decoration: none;
}

.navcate {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.navcate .cate{
    list-style-type: none;
}

.navcate .cate li{
    float: left;
    line-height: 60px;
}

.navcate .cate li a{
    color: #545454;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.cate li a:hover{
    background-color: 545454;
    color: #ffffff;
}

.headerDiv{
	border-top: 1px solid #808080;
  	margin: 20px 0 20px 0;
}
